
HMApplication/app/build
HMApplication/.gradle
HMApplication/.idea
HMApplication/build
HMApplication/app/app.iml
HMApplication/local.properties
HMApplication/HMApplication.iml
HMApplication/app/app.iml
HMApplication/app/build.gradle___jb_tmp___
HMApplication/local.properties
HMApplication/local.properties
HMApplication/app/src/main/Thumbs.db
HMApplication/app/build.gradle
*.iml
*.properties
*.properties
*.gradle
*.gradle
